<label>Service:</label>
<div *ngIf="service" class="service-details-service">
  <div class="service-details-service-content">
    <label class="service-details-service-content-label">ID:</label><span>{{service.id}}</span>
    <label class="service-details-service-content-label">Name:</label><span>{{service.name}}</span>
  </div>
</div>
<label>Equipment:</label>
<div *ngIf="equipment" class="service-details-equipment">
  <div *ngFor="let equip of equipment" class="service-details-equipment-line">
    <div class="service-details-equipment-line-content">
      <span class="service-details-equipment-line-id">{{equip.id}}</span>
      <span class="service-details-equipment-line-name">{{equip.name}}</span>
    </div>
  </div>
</div>
