.service-details-equipment-line{
  margin: 5px 5px 5px 5px;
  background: #9AD2CB;
  border-radius: 4px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-details-equipment-line-name {
  margin-left: 15px;
}

.service-details-equipment-line-content {
  margin-left: 20px;
  margin-right: 20px;
}

.service-details-service {
  background: #D7EBBA;
  margin: 5px 5px 5px 5px;
  height: 60px;
  border-radius: 4px;
  font: caption;
  display: flex;
  align-items: center;
}

.service-details-service-content {
  margin: 8px 20px 8px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 8px;
}
